<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Edit Files</title>
</head>
<body class="bg-zinc-900 text-white min-h-screen flex flex-col items-center py-10 px-4">
  <!-- Back button -->
  <a href="/" 
     class="self-start text-rose-400 hover:underline mb-6 text-lg">
    ← Go Back To Home
  </a>

  <div class="form p-10 text-white w-full max-w-3xl">
   <form action="/edit/<%= filename %>" method="post">
  <h2 class="mb-2">Editing: <%= filename %></h2>
  <textarea name="details" rows="10" class="w-full bg-zinc-700 p-2 rounded">
    <%= filedata %>
  </textarea>
  <button class="mt-2 bg-rose-600 px-4 py-2 rounded text-white">Save</button>
</form>


  </div>
</body>
</html>
